.basic-info-1 {
  display: 'flex';
  flexWrap: 'wrap';
  /* margin-bottom: 15px; */
}

.basic-info-1 label {
  color: white !important;
}

.basic-info-5 {
  display: 'flex';
  flexWrap: 'wrap';
  /* margin-bottom: 15px; */
}

.basic-info-5 label {
  color: white !important;
}

.basic-info-2 {
  display: 'flex';
  flexWrap: 'wrap';
  /* margin-bottom: 15px; */
}

.basic-info-2 label {
  color: white !important;
}

.basic-info-3 {
  margin-top: 30px;
  margin-bottom: 40px;
}

.basic-info-3 label {
  margin-bottom: 5px;
  font-family: Inter;
  color: white !important;
}

.basic-info-4 {
  /* margin-bottom: 35px; */
}

.basic-info-4 label {
  color: white !important;
}

#subtext {
  margin-top: 2px;
  color: rgba(255, 255, 255, 0.75) !important;
}
