#tacks {
  max-height: 130%;
  max-width: 130%;
}

#h3-2 {
  margin-bottom: 20px;
  font-weight: 700;
}

h3 {
  margin-bottom: 20px;
}

#heading {
  font-weight: 700;
}

#headingL {
  font-weight: 600;
}

#text {
  margin-bottom:15px !important;
}

a {
  font-weight: 700;
  color: #57C7B9 !important;
}

p {
  margin-bottom: 0px !important;
}
.why-sponsor-left{
  margin-top:100px;
  margin-right: 120px;
}

.why-sponsor-right {
  margin-top:100px;
}

.past-projects {
  margin-top: 100px;
  margin-bottom:100px;
  margin-right: 120px;

}

.tack-graphics {
  padding-top: 5rem;
}
