.column1 {
  float: left;
  padding-left: 30px;
  text-align: left;
}

.column2 {
  float: left;
  padding-right: 30px;
  padding-left: 20px;
  text-align: left;
}

.hide {
  width: 500px;
  height: 330px;
  overflow: hidden;
}

#gcal {
margin-top: -90px;
}

.logo-container {
  margin: 0 auto;
  width: 25%;
  padding-top: 2rem;
  margin-bottom: 2rem;
}

.logo {
  max-width:100%;
  max-height:100%;
}

.p {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  color: #444444;
}

.giga, .mega, .kilo, .micro {
  font-family: Recoletta;
  font-weight: bold;
  font-size: 24px;
  left: -40px;
  transform: rotate(-45deg);
  text-transform: capitalize;
  width: 170px;
  height: 35px;
  color: white;
  position: absolute;
  text-align: center;
  overflow: hidden;
  clip-path: polygon(
    0 100%,
    21% 0,
    100% 0%,
    79% 0%,
    83% 20%,
    100% 100%,
    10% 100%,
    0% 100%,
    0% 0%
  )
}

.giga {
  background-color: #ED695B;
}

.mega {
  background-color: #46B5B8;
}

.kilo {
  background-color: #211959;
}

.micro {
  background-color: #A6DCEC;
  color: black;
}

.button {
  border-radius: 30px;
  border: none;
  color: white;
  background-color: #46B5B8;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 30px;
  padding-left: 30px;
  margin-right: 100px;
  text-decoration: none;
}

a.button:hover,
a.button:visited,
a.button:link,
a.button:active {
  text-decoration: none;
  color: white;
}

.ReactModal__Overlay {
	z-index: 10;
}
