#window {
		background-color: #FDF7DC !important;
		background: url("../../../../assets/images/VirtualSpace/base_w_booths.png") no-repeat center;
		/* background: url("../../../../assets/images/VirtualSpace/base.png") no-repeat center; */
		background-size: 1000px;
		margin: 0 auto;
		width: 1000px;
		height: 750px;
		z-index: 1;
		overflow: hidden;
		position: relative;
}

.booth {
	position: absolute;
}

#annoucement-button{
	width: 125px;
	margin-left: 441px;
	margin-top: 305px;
	z-index: 2;
}

#workshops-button{
	width: 127px;
	margin-left: 127px;
	margin-top: 157px;
}

#speaker-button{
	width: 150px;
	margin-left: 788px;
	margin-top: 230px;
}

#bloomberg-button {
	width: 129px;
	margin-left: 660px;
	margin-top: 269px;
}

#neeva-button {
	width: 129px;
	margin-left: 371px;
	margin-top: 407px;
	z-index: 3;
}

#wolfram-button {
	width: 80px;
	margin-left: 285px;
	margin-top: 345px;
}

#sketch-button {
	width: 83px;
	margin-left: 424px;
	margin-top: 230px;
	z-index: 2;
}
