#window {
		background-color: #FDF7DC !important;
		background: url("../../../../assets/images/VirtualSpace/base.png") no-repeat center;
		background-size: 1000px;
		margin: 0 auto;
		width: 1000px;
		height: 750px;
		z-index: 1;
		overflow: hidden;
		position: relative;
}

.booth {
	position: absolute;
}

#annoucement-button{
	width: 116px;
	margin-left: 440px;
	margin-top: 310px;
	z-index: 2;
}

#workshops-button{
	width: 113px;
	margin-left: 130px;
	margin-top: 180px;
}

#speaker-button{
	width: 136px;
	margin-left: 800px;
	margin-top: 250px;
}

#bloomberg-button {
	width: 114px;
	margin-left: 650px;
	margin-top: 295px;
}

#neeva-button {
	width: 114px;
	margin-left: 390px;
	margin-top: 420px;
	z-index: 3;
}

#wolfram-button {
	width: 80px;
	margin-left: 285px;
	margin-top: 345px;
}

#sketch-button {
	width: 80px;
	margin-left: 420px;
	margin-top: 240px;
	z-index: 2;
}
