#window {
		background-color: #FDF7DC !important;
		background: url("../../../../assets/images/VirtualSpace/base.png") no-repeat center;
		background-size: 1000px;
		height: 800px; /* temporarily set for visibility */
		z-index: 1;
		overflow: hidden;
}

#infomodal{
	position:relative;
	bottom: 58px;
}

#infomodal2{
	position:relative;
	right: 305px;
	bottom: 332px;
}

#infomodal3{
	position:relative;
	left: 376px;
	bottom: 484px;
}

#bloomberg-button {
	position: relative;
	left: 205px;
	top: 311px;
}

#neeva-button {
	position: relative;
	right: 63px;
	top: 333px;
}

#wolfram-button {
	position: relative;
	right: 188px;
	top: 148px;
}

#sketch-button {
	position: relative;
	right: 37px;
	bottom: 46px;
}
