.main {
    /* min-height: 100vh; */
    align-content: center;
    margin-bottom: -300px;
    padding-bottom:300px;
    background-color:#FDF7DC;
}

@font-face {
    font-family: Recoleta;
    src: url("../../../../assets/fonts/Recoleta-Black.ttf");
}

@font-face {
    font-family: Inter;
    src: url("../../../../assets/fonts/Inter-Bold-slnt=0.ttf");
}

.top-text {
    margin: 1rem 10% 1rem;
    padding-top: 5rem;
    text-align: left;
    font-size: 2rem;
    font-family: Inter;
    font-weight: bolder;
}

.big-text{
    font-family: Recoleta;
    margin: 1rem 10% 1rem 10%;
    font-size: 96px;
    font-weight: bolder;
    text-align:left;
}

.bottom-text {
    margin: 1rem 10% 1rem;
    text-align: left;
    font-size: 2rem;
    font-family: Inter;
    font-weight: bolder;
}

.main-div{
    padding-top: 5.5em;
}
