.itinerary-header {
    text-align: left;
}

.itinerary {
    margin: 4rem 10% 1rem 20%;
    padding: 2rem 0 0 0;
    color: white;
    text-align: left;
    background-color: #46B5B8;
}

.placeholder-itinerary {
    color: transparent;
    font-size: 2.3em;
}

.event {
    margin: 1rem 0 0 0;
    /* grid fix */
    margin-left: -15px;
    margin-right: -15px;
}

#itinerary-img {
    max-width: 90%;
    margin: 3rem 0 4rem 0;
}

.saturday {
    width: 540px;
    margin: 0 1rem 0 0;
}

.sunday {
    width: 540px;
    margin: 0 1rem 0 10%;
}

.itin-table2 {
    display: none;
}

@media screen and (max-width: 800px) {
    .itin-table1 {
        display: none;
    }

    .itin-table2 {
        display: inline;
    }

    #itinerary-img {
        max-width: 90%;
        margin: 4rem 0 3rem 0;
    }

    .itinerary-header {
        margin-left: -1rem;
        text-align: left;
    }
}