.itinerary {
    min-height: 100vh;
    margin: 2rem 10% 2rem 10%;
    padding: 2rem 0 0 0;
    display: flex;
    justify-content: flex-end;
    background-image: url("../../../../assets/images/LandingPage/scene_itinerary_mobile.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: bottom;
    background-position-x: center;
}

.itinerary-header {
    color: rgb(45, 61, 93);
    font-weight: 300;
}

.itinerary-div {
    color: rgb(45, 61, 93);
    background-color: rgba(229, 228, 228, 0.9);
    border-radius: 20px;
    margin: 5% 10% 10% 10%;
    text-align: left;
    min-width: 25rem;
    max-height: 500px;
    padding: 1rem 2rem 4rem 2rem;
}

.itinerary-date {
    margin: 1rem 0 1rem 0;
    font-size: 1.2rem;
}

.itinerary-list {
    max-height: 400px;
    overflow: scroll;
}

.row1 {
    text-align: right;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

.row2 {
    display: flex;
    justify-content: flex-end;
}

.event {
    font-weight: bold;
}

.time {
    text-align: left;
}

@media screen and (max-width: 600px) {
    .itinerary-div {
        margin: 0 0 0 20vw;
        min-width: 16rem;
        max-width: 18rem;
    }
}
