.dashboard {
  overflow: hidden;
  background: url("../../assets/images/Dashboard/registration.png") no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
}

.main-pane {
  width: 34.5vw;
  float: left;
  /* margin-left: 10vw;
  margin-top: 20vh; */
  margin-left: 12.5vw;
  margin-top: 13vh;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.greeting h1 {
  font-size: 52px;
  font-family: Covik Sans, sans-serif;
  font-style: normal;
  font-weight: 500;
  color: white;
  margin-top: 30px;
}

.message {
  color: white;
}

#start {
  width: 497px;
  height: 82px;
  margin-top: 30px;
  font-family: Akkurat Pro;
  font-size: 24px;
}

#app-stat {
  margin-top: 30px;
  font-size: 1.7vw;
  font-family: Akkurat Pro;
}

#inner-button {
  /* width:412.84px;
  height: 52px; */
  width: 30vw;
  height: 7vh;
  margin-bottom: 30px;
  font-family: Akkurat Pro;
}

/* #status {
  width: 510px;
  height: 400px;
} */

#outer-button {
  /* width: 497px;
  height: 186px; */
  width: 34.5vw;
  height: 25vh;
  margin-top: 40px;
}

#reimbursement {
  /* width: 497px;
  height: 111px; */
  width: 34.5vw;
  height: 15vh;
  margin-top: 40px;
}

#apply-reimbursement {
  font-family: Akkurat Pro;
  font-size: 20px;
}

@media screen and (max-width: 500px){
  .dashboard {
    background: url("../../assets/images/Dashboard/mobile_dash.jpg") no-repeat center center fixed;
    background-size: cover;
  }

  .main-pane {
    width: 84%;
  }

  #outer-button {
    width: 60%;
  }

  #inner-button {
    width: 65%;
  }

  #reimbursement {
    width: 60%;
    float: left;
  }

  #start{
    width: 84%;
  }
}

@media screen and (max-width: 768px){
  .dashboard {
    background: url("../../assets/images/Dashboard/mobile_dash.jpg") no-repeat center center fixed;
    background-size: cover;
  }
  .main-pane {
    width: 75%;
  }
  #outer-button {
    width: 85%;
    float:center;
    margin-left: 15%;
    margin-right: 15%;
  }
  #inner-button {
    width: 85%;
    float:center;
  }
  #reimbursement {
    width: 85%;
    float: left;
    margin-left: 15%;
  }
  #start{
    width: 86%;
    margin-left:8%;
  }
  
}
/*margin: inherit;
  line-height: normal;*/
#sub-text {
  font-size: 0.875rem;
}

.button-title {
  font-size: 2vw;
}