.faq {
    min-height: 100vh;
    /* background-color: #ff4d4d; */
    background-color: #AEEBFC;
    padding: 5rem 0;
    text-align: left;
}

.faq-header h1 {
    color: #444444 !important;
    padding-bottom: 1rem;
}

.faq-subtitle {
    font-family: 'Inter';
    color: #444444 !important;
    font-size: 1.5rem !important;
}

p {
    font-family: 'Inter';
    color: #444444 !important;
    font-size: 1rem !important;
    font-weight: 100;
    padding-bottom: 3rem;
}

@media screen and (max-width: 575px) {
    .faq {
        padding: 6%;
    }
}
