.faq {
    min-height: 100vh;
    /* background-color: #ff4d4d; */
    background-color: var(--red3);
    padding: 5rem 0;
    text-align: left;
}

.faq-header h1 {
    color: #444444 !important;
    padding-bottom: 1rem;
}

.faq-subtitle {
    font-family: 'Inter';
    color: #444444 !important;
}

.faq p {
    font-family: 'Inter';
    color: #444444 !important;
    font-size: 1rem !important;
    font-weight: 100;
    padding-bottom: 3rem;
}

#video {
    margin: 0;
    padding: 0;
}

#hello-email {
    color: #444444;
    text-decoration: none !important;
}

#sponsor-email {
    color: #444444 !important;
    text-decoration: none !important;
}

@media screen and (max-width: 575px) {
    #video {
        width: 100%;
    }

    .faq {
        padding: 8%;
    }

    .faq-subtitle {
        font-size: 1rem !important;
    }
}

@media screen and (max-width: 534px) {
    .faq-header h1 {
        font-size: 2rem;
    }
}

@media screen and (max-width: 426px) {
    .faq-header h1 {
        font-size: 1.8rem;
    }
}


@media screen and (max-width: 383px) {
    .faq-header h1 {
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 342px) {
    .faq-header h1 {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 320px) {
    .faq-header h1 {
        font-size: 1.4rem;
    }
}