.faq {
    align-content: start;
    /* margin: 2rem 10% 2rem 10%; */
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    min-height: 100vh;
    align-items: flex-start;
    justify-content: flex-start;
    color: white;
    /* background-color: #ff4d4d; */
    background-color: #fc564b;
    padding: 2rem 0 0 0;
}

#faq-img {
    max-width: 30vw;
    min-width: 18rem;
    margin: 4rem 0 2rem 2rem;
}

.faq-text {
    margin: 0 3rem 0 10%;
    max-width: 20rem;
    min-width: 30vw;
    text-align: left;
    font-weight: 100;
}

.faq-subtitle {
    font-family: 'Inter';
    font-size: 1rem !important;
}

@media screen and (max-width: 952px) {
    .faq-text {
        margin: 2rem 3rem 0 10%;
        max-width: 100%;
        min-width: 30vw;
        text-align: left;
    }

    #faq-img {
        max-width: 50vw;
        min-width: 18rem;
        margin: 4rem 0 2rem 2rem;
    }

    .faq {
        justify-content: center;
    }
}

@media screen and (max-width: 650px) {
    .faq-text {
        margin: 0 3rem 0 10%;
        max-width: 100%;
        min-width: 30vw;
        text-align: left;
    }

    #faq-img {
        max-width: 50vw;
        min-width: 10rem;
        margin: 4rem 0 2rem 2rem;
    }

    .faq {
        justify-content: flex-start;
    }
}
