/* From FIGMA */
.modal {
    left: 50%;
    top: 50%;
    /* sponsors: width: 60vw;
    announcement/workshop/speakers: 40vw; */
    height: 80vh;
    min-width: 440px;
    border-radius: 1.5em;
    padding: 10vw;
    overflow: hidden;
}

.modal-text {
    padding: 0px 6vw;
}