#asset-image{
    width: 150px;
    margin: 2% 0;
    max-height:180px;
}

.top{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:white;
    padding: 6%;
    height: 50%;
}

.bottom {
    height: 50%;
    display: flex;
    color: #46B5B8;
}

.bottom p {
    font-family: Inter;
    font-weight: 100;
    color: #444444;
}

.bottom a {
    font-size: 18px;
    color: #46B5B8;
    text-decoration: none;
}

.bottom a:hover {
    color: #46B5B8;
}

.announcements p {
    font-size: 1.5rem;
    align-self: center;
    padding: 0px 6vw;
}

.table{
    width: 100%;
    padding: 2rem;
    table-layout: fixed;
}

.table td, .table th {
    padding: 0.1rem !important;
}

.bottom table{ 
    border-spacing: 1em;
    border-collapse: collapse;
    border: none;
    font-size: 18px;
    table-layout: fixed;
    width: 100%;
}

.bottom .dates {
    font-family: 'Inter Bold';
    color: #444444;
    width: 15%;
    border: none;
    text-align: right;
}

.bottom .times {
    font-family: 'InterBold';
    color: #444444;
    width: 35%;
    border: none;
    text-align: center;
}
.bottom .links {
    color: #46B5B8;
    text-align: left;
    width: 50%;
    border: none;
}

@media screen and (max-width: 800px) {
    #asset-image{
        width: 100px;
        margin-bottom: 2%;
        max-height:180px;
    }

    .top h1 {
        font-size: 8vw;
    }

    .announcements p {
        font-size: 5vw;
        align-self: center;
    }

    .table {
        padding: 0.5rem;
    }
}
