.dayof-itinerary {
    padding: 0 10% 1rem 20%;
    color: white;
    text-align: left;
    background-color: #415364;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.dayof-itinerary th:nth-child(1) {
    font-family: Covik Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 52px;
    /* identical to box height */

    color: #FFFFFF;
    padding-bottom: 35px;
}

.dayof-itinerary td:nth-child(1) {
    font-family: Akkurat Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    /* or 133% */

    color: #FFFFFF;
    padding-bottom: 35px;
}

.caption {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.5;
    margin-top: 5px;
}

#prize-title {
    padding-bottom: 20px;
}

#prize-categories {
    font-weight: normal;
}

@media screen and (max-width: 414px) {
    .dayof-itinerary {
        flex-direction: column;
    }
}