.sponsor-home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 4rem 3rem 4rem 3rem;
}

#banner-img {
    max-height: 80%;
    max-width: 80%;
}

.sponsor-home-blurb h1 {
    font-family: Recoleta;
    font-style: normal;
    font-weight: bold;
    color: black;
}

.sponsor-home-blurb {
    padding: 3rem 2rem 3rem 2rem;
}

.sponsor-home-blurb p{
	margin-top: 1rem;
}