.toolbar {
    z-index: 1;
    top: 0;
    text-align: center;
    width: 100%;
    justify-content: space-between;
    padding: 2vh 2rem 2vh 2rem;
    background-color: #ededed;
}

.toolbar .container {
  margin-right: 0px !important;
}

#logo-img {
    max-width: 30px;
    max-height: 30px;
    width: auto;
    height: auto;
}
