.toolbar {
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    color: white !important; 
    background-color:#FDF7DC;
}
.navBarExtended {
    padding: 1000px;
}
#logo-img {
    display: flex;
    align-content: flex-start;
    max-width: 30px;
    max-height: 30px;
    width: auto;
    height: auto;
    transition: 0.2s;
}

#logo-img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.tool-bar-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

@media screen and (max-width: 900px) {
    .tool-bar-container {
        height: 100vh;
        padding-top: 50%;
        padding-bottom: 50%;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
}

.toolbar-items {
    display: flex;
    flex-direction: row;
}

.toolbar-signin {
    width: 6rem;
    color: white;
    padding: 0 1rem 0 1rem;
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid white;
    transition: 0.2s;
}

.toolbar-about:hover,
.toolbar-itinerary:hover,
.toolbar-sponsors:hover,
.toolbar-faq:hover {
    transition: 0.2s;
    color: white !important;
    cursor: pointer;
}

.toolbar-signin:hover {
    color: rgb(0, 146, 141);
    border: 1px solid rgb(0, 146, 141);
    cursor: pointer;
}

a {
    color: rgba(68, 68, 68, 1) !important;
}

#register {
    color: rgba(68, 68, 68, 1);
    border-radius: 25px;
    border: 2px solid rgba(68, 68, 68, 1);
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 30px;
    padding-right: 30px;
}