#description {
  font-size: 24px;
  margin-bottom: 40px;
  width: 600px;
}

.optional-info-1 {
  margin-bottom: 10px;
}

.optional-info-2 {
  margin-top: 2%;
}

#website {
  width: 214px !important;
}

.Website {
  margin-bottom: 15px;
}

#github {
  width: 214px !important;
}

.Github {
  margin-bottom: 15px;
}

#linkedin {
  width: 214px !important;
}

.Linkedin {
  margin-bottom: 30px;
}

#comments {
  width: 395px !important;
}
