#banner-img {
  margin: 3rem;
  max-height: 80%;
  max-width: 80%;
}

.sponsor-home-blurb h3 {
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
}

.sponsor-home-blurb {
  margin: 3rem 2rem 3rem 2rem;
}
