/* body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    margin: 20rem 4rem 0 4rem;
} */

h1 {
    color: black;
}

.email-page {
    position: fixed;
    background-color: #009490;
    width: 100%;
    height: 100%;
}

.announcement {
    font-size: 75px;
}

.input-box {
    width: 60vw;
    height: 40px;
    font-size: 15px;
    background-color: transparent;
    border: solid #f9c9d0 2px;
    border-radius: 50px;
    padding: 20px;
    margin: 20px;
}
::placeholder {
    color: #f9c9d1;
}

.input-box:focus {
    outline: none;
    color: #f9c9d1;
}

.input-button {
    width: 15vw;
    height: 40px;
    font-size: 15px;
    margin-left: 1rem;
    color: white;
    background-color: #e5758d;
    border-radius: 50px;
    border: 0px;
}
.input-button:hover {
    opacity: 0.8;
}
.input-button:focus {
    outline: none;
}
/* code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
} */
