.registration {
  padding-left: 10vw;
  text-align: left;
  background-color: #4F5C6B;
  min-height: 100vh;
  color: white;
  background-size: 1400px 100%;
}

.form-name {
  padding-top: 24px;
  margin-bottom: 24px;
}

.form-name h1 {
  font-family: covik-sans, sans-serif;
  font-weight: 500;
  font-size: 52px;
}

.form-content {
  font-family: Akkurat Pro;
  max-height: 65vh;
  min-height: 65vh;
  margin-bottom: 30px;
}

.form-progress {
  display: flex;
  align-items: center;
}

.buttons {
  margin-right: 30px;
}

.stage {
  margin-top: 10px;
  margin-bottom: auto;
  font-size: 18px;
}

.next {
  width: 112px !important;
}

.back {
  width: 112px !important;
  margin-right: 20px !important;
}

.submit {
  width: 253px !important;
}

button {
  outline: none !important;
}
