.registration {
  padding-top: 80px;
  height: auto;
  min-height: 100vh;
  padding-left: 10vw;
  text-align: left;
  background-color: #211959;
  display: block;
  overflow: auto;
  color: white;
  background-size: cover;
  background-position-y: bottom;
	background-repeat: no-repeat;
	font-weight: 100;
}

.form-name {
  padding-top: 24px;
  margin-bottom: 24px;
}


.form-name h1 {
  font-family: Recoleta;
  font-weight: 700;
  color: white;
}

@media screen and (min-width: 500px) {
  .form-name h1 {
    font-size: 52px;
  }
}

@media screen and (max-width: 499px) {
  .form-name h1 {
    font-size: 36px;
  }
}

.form-content {
  font-family: Inter;
  margin-bottom: 30px;
}

.form-content-mobile {
  font-family: Inter;
  min-height: 65vh;
  margin-bottom: 30px;
}

.form-progress {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
}

.form-last-button {
  margin-bottom: 50px;
}

.buttons {
  margin-right: 30px;
}

.stage {
  margin-top: 10px;
  margin-bottom: auto;
  font-size: 18px;
}

.backDashboard {
	color: white !important;
  width: 200px !important;
  margin-right: 20px !important;
}

.next {
  width: 112px !important;
  margin-right: 20px !important;
}

.back {
  width: 112px !important;
  margin-right: 20px !important;
}

.submit {
  width: 253px !important;
}

button {
  outline: none !important;
}
