.registration {
  padding-left: 10vw;
  text-align: left;
  background-color: #4F5C6B;
  min-height: 100vh;
  color: white;
  background-size: 1400px 100%;
}

.form-name {
  padding-top: 24px;
  margin-bottom: 24px;
}

.form-content {
  overflow: scroll;
  max-height: 65vh;
  min-height: 65vh;
  margin-bottom: 30px;
}

