.virtual {
    /* margin-top: 2rem; */
    /* max-width: 1400px; */
    min-height: 100vh;
    width: 100%;
    /* align-items: flex-start;
    justify-content: flex-end; */
    color: #444444;
    background-color: #FDF7DC;
    padding: 5rem 0 0;
}

#spaceImg {
  /* max-width: 200%; */
  width: 80vw;
  margin: 0 auto;
  margin-top: -5rem;
}

#registerBtn {
    border-radius: 35px;
    border: 0px;
    width: 140px;
    height: 55px;
    padding: 5px 30px;
    /* margin-left: 2rem; */
    background-color: #808080;
    color: white;
    font-weight: bold;
    font-size: 120%;
}

.virtual-blurb {
    text-align: left;
}

.virtual-blurb-text {
    font-weight: 100;
    line-height: 1.8rem;
}

.virtual-blurb-header {
  font-weight: bold;
  color: #444444 !important;
}

/* .space {
    width: 100vw;
} */

/* fix for "Welcome to After School" */
@media screen and (max-width: 900px) {
    .virtual {
        padding: 10% 5% 0%;
    }

    #spaceImg {
        width: 100%;
        /* margin: 0 auto; */
        margin-top: 2rem;
    }
}

@media screen and (max-width: 534px) {
    .virtual-blurb-header {
        font-size: 2rem;
    }
}

@media screen and (max-width: 426px) {
    .virtual-blurb-header {
        font-size: 1.8rem;
    }
}


@media screen and (max-width: 383px) {
    .virtual-blurb-header {
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 342px) {
    .virtual-blurb-header {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 320px) {
    .virtual-blurb-header {
        font-size: 1.4rem;
    }
}
