.sponsors {
    align-content: center;
    margin: 0 10% 2rem 10%;
    text-align: left;
    color: white;
}

.sponsors-heading {
    margin: 0 10% 2rem 10%;
    padding: 3rem 0 0 0;
}

.sponsors-items {
    margin: 2rem 10% 2rem 10%;
    padding: 0 0 4rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sponsors-name {
    margin: 2rem 0 1rem 0;
}

/* .sponsors-peta {
    margin-top: -2rem;
    max-width: 30rem;
}

.sponsors-img-peta {
    transition: .2s ease-in-out;
    max-width: 14rem;
    margin: 0.5rem;
}

.sponsors-img-peta:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.sponsors-tera {
    max-width: 30rem;
}

.sponsors-img-tera {
    transition: .2s ease-in-out;
    max-width: 12rem;
    margin: 0.5rem;
}

.sponsors-img-tera:hover {
    cursor: pointer;
    transform: scale(1.1);
} */

.sponsors-giga {
    /* max-width: 30rem; */
}

.sponsors-img-giga {
    transition: 0.2s ease-in-out;
    max-width: 35vw;
    margin: 1rem;
}

.sponsors-img-giga:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.sponsors-mega {
    max-width: 30rem;
}

.sponsors-img-mega {
    transition: 0.2s ease-in-out;
    max-width: 25vw;
    margin: 0.5rem;
    object-fit: cover;
}

.sponsors-img-mega:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.sponsors-kilo {
    max-width: 30rem;
}

@media (min-width: 1990px) {
    .sponsors-mega {
        max-width: initial;
    }
    .sponsors-mega .sponsors-img {
        display: flex;
        flex-direction: column;
    }
    .sponsors-kilo {
        margin-left: 1em;
    }
}

.sponsors-img-kilo {
    transition: 0.2s ease-in-out;
    max-width: 15vw;
    max-height: 60px;
    margin: 0.5rem;
    object-fit: cover;
}

.sponsors-img-kilo:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.sponsors-micro {
    max-width: 30rem;
}

.sponsors-img-micro {
    transition: 0.2s ease-in-out;
    max-width: 10vw;
    max-height: 40px;
    margin: 0.5rem;
    object-fit: cover;
}

.sponsors-img-micro:hover {
    cursor: pointer;
    transform: scale(1.1);
}

#sponsors-image {
    max-width: 90%;
    margin: -3rem 0 4rem 0;
}
