.Race{
    display:flex;

}
.Gender{
    margin-bottom: 2%;
}
.Website{
    margin-bottom: 1%;
}
.Github{
    margin-bottom: 1%;
}

.MuiMenu-paper {
  display: none;
}

#description-more-info {
  font-size: 24px;
  margin-bottom: 60px;
  width: 600px;
}

.race {
  margin-bottom: 60px;
}

.gender {
  margin-bottom: 80px;
}

.form-popup {
  background-color: #647381 !important;
  width: 408px !important;
  padding-top: 15px !important;
  padding-left: 20px !important;
  padding-bottom: 15px !important;
  max-height: 250px !important;
  overflow: scroll !important;
  overflow-y:scroll !important;
  color: white !important;
  font-size: 18px !important;
}

.dropArrow {
  margin-left: 50px;
}
