.intro {
    min-height: 100vh;
    align-content: center;
    margin: 2rem 10% 2rem 10%;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    align-items: flex-start;
    justify-content: flex-end;
    background-color: aqua;
}

#garden-img {
    background: pink;
    max-width: 60%;
}

.intro-blurb {
    margin: 0 10% 0 2rem;
    max-width: 20rem;
    min-width: 30vw;
    text-align: left;
}

.intro-blurb-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}