.intro {
<<<<<<< HEAD
    height: 80vh;
    align-content: center;
    margin: 5rem 10% 2rem 10%;
}

#intro-img {
    margin: 2rem;
    min-height: 50vh;
    max-width: 80%;
    height: auto;
    width: auto;
}

.intro-blurb {
    text-align: left;
    margin: 2rem 1rem 0 0;
}

.intro-img-div {
    text-align: right;
=======
    min-height: 100vh;
    align-content: center;
    margin: 7rem 10% 2rem 10%;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    align-items: flex-start;
    justify-content: flex-end;
    color: white;
}

#garden-img {
    max-width: 60%;
}

.intro-blurb {
    margin: 4rem 10% 0 2rem;
    max-width: 20rem;
    min-width: 30vw;
    text-align: left;
}

.intro-blurb-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
>>>>>>> 1d54320d6a14a43398d774cfd2fa8794d7c9f817
}