:root {
    --red1: #FAC3B1;
    --red2: #FA6E6D;
    --red3: #AC2153;
    --green1: #759036;
    --green2: #D7E484;
    --blue1: #B9D8EE;
}


@font-face {
    font-family: "Eugusto";
    src: url("assets/fonts/Eugusto\ Free\ Font.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Recoleta";
    src: url("assets/fonts/Recoleta-Light.ttf");
    font-weight: 100;
}

@font-face {
    font-family: "Inter";
    src: url("assets/fonts/Inter-Bold.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url("assets/fonts/Inter-Regular.ttf");
    font-weight: 100;
}

.App {
    text-align: center;
    font-family: Inter, sans-serif;
    height: 100%;
    /* background-image: url("assets/images/LandingPage/temp_background.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover; */
}

h1, h2, h3, h4, h5, h6 {
    font-family: Recoleta, sans-serif;
}