.App {
    text-align: center;
    font-family: Work Sans;
    background-color: white;
    padding: 0;
}

@font-face {
  font-family: "Akkurat Pro";
  src: url("//db.onlinewebfonts.com/t/cbbfee9126dc0abc730b9875dc28832f.eot");
  src: url("//db.onlinewebfonts.com/t/cbbfee9126dc0abc730b9875dc28832f.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/cbbfee9126dc0abc730b9875dc28832f.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/cbbfee9126dc0abc730b9875dc28832f.woff") format("woff"), url("//db.onlinewebfonts.com/t/cbbfee9126dc0abc730b9875dc28832f.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/cbbfee9126dc0abc730b9875dc28832f.svg#Akkurat Pro") format("svg");
}
