.footer {
    background-color: var(--blue1);
    color: white;
    text-align: left;
    padding: 2rem 10% 1rem 10%;
}

.theme {
    font-size: 2.7rem;
    font-family: Recoleta;
    font-style: normal;
    font-weight: bold;
}

.current {
    margin: 0 0 1rem 0;
}

.socials, .previous, .links, .misc {
    font-size: 0.8rem;
    margin: 0 0.5rem 2rem 0.5rem;
}

.col-header {
    font-weight: bold;
}

.misc .footerlink {
    font-size: 0.65rem;
}

.message {
    font-size: 0.8rem;
    font-weight: 100;
}

.footerlink {
    color: white !important;
    font-weight: 100;
    text-decoration: none;
    transition: .2s;
}

.footer p {
    margin-bottom: 0;
}

.footerlink:hover {
    color: #FF844C;
    text-decoration: none;
}