.footer {
    background-color: orchid;
    text-align: left;
    padding: 2rem 10% 1rem 10%;
}

.current {
    margin: 0 0 1rem 0;
}

.socials, .previous, .links, .misc {
    font-size: 0.8rem;
    margin: 0 0.5rem 2rem 0.5rem;
}

.message {
    font-size: 1rem;
}