/* From FIGMA */
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

.infoModal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    width: 40vw;
    overflow-y: scroll;
    height: 80vh;
    /* min-width: 440px; */
    border-radius: 1.5em;
    text-align: center;
    background-color: white;
    z-index: 3;
}

#info-close{
    border: none;
    background: transparent;
    position: absolute;
    right: 1vw;
    top: 1vw;
    width: 32px;
    height: 32px;
    font-weight: bold;
    font-size: 24px;
}

#info-button {
	background: none;
	outline: none;
	border: none;
  z-index: 2;
  transition: all 0.2s ease-in-out;
}

#info-button:hover {
  transform: scale(1.1);
}

#button-image {
	height: 100%;
	width: 100%;
	z-index: 2;
}