.sponsorModal {
  left: 50%;
  top: 50%;
  height: 80vh;
  min-width: 440px;
  border-radius: 1.5em;
  overflow-y: scroll;
  text-align: center;
  font-size: 18px;
  margin: 100px;
  background-color: white;
}

#close{
    color:#444444;
    border: none;
    background: transparent;
    position: absolute;
    right: 132px;
    top: 132px;
    width: 32px;
    height: 32px;
    font-weight: bold;
    font-size: 24px;
}
