.App-logo {
    height: 40vmin;
}

.title {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.sponsor {
    text-align: left;
    background-color: #fbf8f0;
}
